<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sinho Chewi's Website</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

{% block body %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#book">Book</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#notes">Notes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#research">Research</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teaching">Teaching</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Sinho Chewi's Website</h1>
                    <p>Copied from the Bootstrap template.</p>
                    <p>I am an Applied Mathematics PhD candidate at the Massachusetts Institute of Technology (MIT), advised by <a href="http://www-math.mit.edu/~rigollet/">Philippe Rigollet</a>. From September 2023 to July 2024, I will be a postdoctoral researcher at the Institute for Advanced Study (IAS). Then, starting July 2024, I will be an Assistant Professor of Statistics and Data Science at Yale University.</p>
                    <p><b>Past Visits</b></p>
                    <p>I received my B.S. in Engineering Mathematics and Statistics from University of California, Berkeley in 2018. In Fall 2021, I participated in the Simons Institute program on <a href="https://simons.berkeley.edu/programs/gmos2021">Geometric Methods in Optimization and Sampling</a> and co-organized (with <a href="https://kjtian.github.io/">Kevin Tian</a>) a working group on the <a href="https://wiki.simons.berkeley.edu/doku.php?id=gmos21:start">complexity of sampling</a>. In Spring 2022, I visited <a href="https://www.jonathannilesweed.com/">Jonathan Niles-Weed</a> at New York University (NYU). In Summer 2022, I was a research intern at Microsoft Research, supervised by <a href="http://sbubeck.com/">Sébastien Bubeck</a> and <a href="https://adil-salim.github.io/">Adil Salim</a>.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Book Section -->
    <section id="book" class="book-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Book</h1>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row row-flex">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><a href="main.pdf"><img src="book.png" width=100%></a></div>
                    <div class="col-sm-4"><br><br><p>I am currently writing a book on the complexity of log-concave sampling. <a href="main.pdf">You can read the current draft here.</a></p><p>Any feedback is appreciated!</p><p><em>Last Updated: January 22, 2023</em></p></div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Notes Section -->
    <section id="notes" class="note-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Notes</h1>
                </div>
                <p><a href="/class-notes">Click here</a> to find the notes I took during my undergraduate and graduate studies.</p>
            </div>
        </div>
    </section>

    <!-- Research Section -->
    <section id="research" class="research-section">
        <div class="container">
            <div class="row">
                <h1>Research</h1>
            </div>
            <h4>Publications</h4>
            <ul>
            {% for publication in research.publications %}
                <li>
                    <i>{{ publication.title }}</i>. {{ publication.authors }}. {{ publication.date }}.
                    {% for link in publication.links %}
                    <a href="{{ link.link }}">[{{ link.name }}]</a>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- Teaching Section -->
    <section id="teaching" class="teaching-section">
        <div class="container">
            <div class="col-lg-12">
                <h1>Teaching</h1>
                <p>Here is a list of courses that I have taught in the past.</p>
                <br>
            </div>
            {% set counter = 0 %}
            <div class="row">
            {% for semester in teaching_instructor %}
            {% if counter % 2 == 0 and counter > 0 %}
            </div>
            <div class="row">
            {% endif %}
            {% set counter = counter + 1 %}
                <div class="col-lg-6">
                    <ul>
                        <i>{{ semester.semester }}</i><br>
                        {% for class in semester.classes %}
                        <div>
                            <b>
                            {% if class.link is defined %}
                            <a href="{{ class.link }}">
                            {%- endif -%}
                            {{- class.number -}}
                            {%- if class.link is defined -%}
                            </a>
                            {% endif %}
                            </b>
                            – {{ class.name }}
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
            <div class="col-lg-12">
                <p>I have also been a TA for these courses.</p>
                <br>
            </div>
            {% set counter = 0 %}
            <div class="row">
            {% for semester in teaching %}
            {% if counter % 2 == 0 and counter > 0 %}
            </div>
            <div class="row">
            {% endif %}
            {% set counter = counter + 1 %}
                <div class="col-lg-6">
                    <ul>
                        <i>{{ semester.semester }}</i><br>
                        {% for class in semester.classes %}
                        <div>
                            <b>
                            {% if class.link is defined %}
                            <a href="{{ class.link }}">
                            {%- endif -%}
                            {{- class.number -}}
                            {%- if class.link is defined -%}
                            </a>
                            {% endif %}
                            </b>
                            – {{ class.name }} ({{ class.instructors }})
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
            <div class="col-lg-12">
                <p>I have led some Directed Reading Programs (DRP): <a href="/drp-2019">2019</a>, <a href="/drp-2020">2020</a>, <a href="/drp-2021-ml">2021(A)</a>, <a href="/drp-2021-stat">2021(B)</a>.</p>
                <p>In 2016-2017, I won the <a href="https://www2.eecs.berkeley.edu/Students/Awards/13/">EECS Outstanding GSI/Distinguished GSI Award</a>.
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact</h1>
                    <p>You can email me at <a href="mailto:schewi@mit.edu">schewi@mit.edu</a>.</p>
                    <br>
                    <p>2-390D (Mathematics)</p>
                    <p>E17-476G (IDSS)</p>
                    <p><a href="https://scholar.google.com/citations?user=u_fAQO4AAAAJ&hl=en&oi=sra">[Google Scholar]</a> <a href="https://orcid.org/0000-0003-2701-0703">[ORCID]</a></p>
                </div>
            </div>
        </div>
    </section>

</body>
{% endblock %}

</html>
