* {
  margin: 0;
}

body {
  height: 100%;
}

html {
  background-color: #A1D6E2;
  height: 100%;
}

h1 {
  font-family: Palatino, serif;
  font-size: 2.5rem;
  text-align: center;
}

h5 {
  font-size: 1rem;
  text-align: center;
}

img {
  vertical-align: middle;
}

.footer {
  background-color: #BCBABE;
  font-size: 0px;
  height: 4rem;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.link {
  display: inline-block;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem;
}

.push {
  height: 4rem;
}

.wrapper {
  color: #1995AD;
  font-family: sans-serif;
  height: auto !important;
  height: 100%:
  margin: 0 auto -4rem;
  min-height: 100%;
}

